[Unit]
Description=Monitor and control bird
After=patroni.service
Wants=patroni.service

[Service]
ExecStart=/usr/local/bin/bird_monitor_script
User=bird-monitor
Group=bird
Type=simple
Restart=always
