[Unit]
Description=Monitor and control bird
After=network.target

[Service]
ExecStart=/usr/local/bin/bird_monitor_script
User=bird-monitor
Group=bird
Type=simple
Restart=always

[Install]
WantedBy=network.target
